.icon-48-mycomp{
	background-image: url('../images/com_mycomp-icon48x48.png');
}
.icon-48-createtask{
	background-image: url('../images/com_mycomp-create-icon48x48.png');
}
.icon-48-listtask{
	background-image: url('../images/com_mycomp-listtasks-icon48x48.png');
}
.icon-48-helptask{
	background-image: url('../images/com_mycomp-help-icon48x48.png');
}
.icon-48-deletetask{
	background-image: url('../images/com_mycomp-delete-icon48x48.png');
}